html{
	scroll-behavior: smooth !important; /*This is for smooth transitions between tabs*/
}

body{
	font-family: Arial;
	margin:0;
	padding:none;
	background-image: url("pictures/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-emphasis-color: white;
	text-decoration-color: white;
	color: white;
	overflow-x: hidden;
}

/*Nav Bar*/
.anchored{
	position:fixed;
	display:flex;
	flex-direction: row;
	top:0;
	left:0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.anchored div{
	float: left;
	display:flex;
	justify-content: center;
	flex-basis: 25%;
}

.anchored a{
	text-align: center;
	text-decoration: none;
	/*-webkit-text-stroke: 1px black;*/
	padding: 2px;
	border-radius: 6px;
	color: #fff;
	margin: 0 1em;
}

.anchored a:hover{
	background-color: #fff;
	color:black;
}

.allContainer{
	margin-top: 2vh;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: first baseline;
	width:400%;
	scroll-behavior: smooth;
}

.tabContainer{
	display:flex;
	flex-direction: column;
	flex-basis:100%;
	justify-content: center;
}
.justifier{
	display:flex;
	flex-direction: column;
	justify-content: center;
}

/*Title Stuff*/
.header1{
	text-align: center;
	font-size: 200%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.header2{
	text-align: start;
	text-decoration: underline;
	font-size: 150%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

/*Home Me Image*/
.meImage1{
	aspect-ratio: 1 / 1;
	width: 80%;
	height: 80%;
}

/*Projects Tab*/
.projectsContainer{
	display:grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	row-gap: 10px;
	column-gap: 10px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.box a{
	position: relative;
}

.box .githubIcon{
	position:absolute;
	bottom:0;
	right:0;
	height: 25px;
	width: 25px;
	background: rgba(255, 255, 255, 0.25);
	filter:invert(1);
}

.box .githubIcon:hover{
	background: rgba(255, 255, 255, 1);
}

.projectImage{
	max-height: 250px;
	max-width: 25vw;
	width: auto;
	object-fit: cover;
}

.projectinvertImage{
	max-height: 250px;
	max-width: 25vw;
	width: auto;
	object-fit: cover;
	filter: invert(1);
	z-index: inherit;
}

.imageTitle{
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	text-align:center;
	text-overflow: ellipsis;
}

/*List Items*/
.listItem{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-basis: 20%
}

.listItem .box{
	flex-basis: 20%;
}

.listItem .separator{
	flex-basis: 5%;
}

.listItem .txtContainer{
	flex-basis: 75%;
	display:flex;
	flex-direction: column;
}

.listItem .txtContainer div{
	text-align: start;
	font-size: 125%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	inline-size: 75%;
	overflow-wrap: break-word;
}

/*Tool Tip Stuff*/
.tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: black;
	outline-style: inset;
	outline-color: #fff;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 10;
}

.tooltiptext a{
	color: white;
}

.tooltiptext:before { /* Create the Little triangle above it */
	content: '';
	position: absolute;
	top: -10px;
	left: calc(50% - 10px);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}

.box:hover .tooltiptext, .box:focus .tooltiptext {
	visibility: visible;
	transform: translateY(140px); /* even better positioning */
}