/* General styles */
body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.nav-mobile {
	display: none !important;
}

.res-nav {
	display: block !important;
}


/* Slider wrapper */
.css-slider-wrapper {
	display: block;
	background-image: url("img/background.jpg");
	background-size: cover;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Slider */
.slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 0;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	-webkit-transition: -webkit-transform 1600ms;
	transition: -webkit-transform 1600ms, transform 1600ms;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Individual slide positions */
.slide1 {
	left: 0;
}

.slide2 {
	left: 100%
}

.slide3 {
	left: 200%
}

.slide4 {
	left: 300%;
}

/* Slider inner-slide effect */
.slider h2 {
	color: #FFF;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 120%;
	opacity: 1;
	/*-webkit-transform: translateX(500px);
	transform: translateX(500px); Removed because I don't really like this*/
}

.slider .home-flex-wrapper,
.slider .projects-flex-wrapper,
.slider .pub-flex-wrapper,
.slider .links-flex-wrapper {
	opacity: 1;
	/*-webkit-transform: translateX(-500px);
	transform: translateX(-500px); Removed because I don't really like this*/
}

.slider h2,
.slider .home-flex-wrapper,
.slider .projects-flex-wrapper,
.slider .pub-flex-wrapper,
.slider .links-flex-wrapper {
	-webkit-transition: opacity 800ms, -webkit-transform 800ms;
	transition: transform 800ms, opacity 400ms;
	-webkit-transition-delay: 1s;
	/* Safari */
	transition-delay: 1s;
}

/* Slider pager */
.slider-pagination {
	/* Stick navbar to top */
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	width: 100%;
	text-align: center;
	z-index: 1000;
}

.slider-pagination label {
	display: inline-block;
	width: 25%;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	color: white;
	padding: 10px 0;
	cursor: pointer;
	transition: all 300ms;
	font-size: 18px;
	font-weight: 700;
	user-select: none;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

/* Slider pager arrow event */
.slide-radio1:checked~.next .numb2,
.slide-radio2:checked~.next .numb3,
.slide-radio3:checked~.next .numb4,
.slide-radio2:checked~.previous .numb1,
.slide-radio3:checked~.previous .numb2,
.slide-radio4:checked~.previous .numb3 {
	display: block;
	z-index: 1;
}

/* Slider pager event */
.slide-radio1:checked~.slider-pagination .page1,
.slide-radio2:checked~.slider-pagination .page2,
.slide-radio3:checked~.slider-pagination .page3,
.slide-radio4:checked~.slider-pagination .page4 {
	background: rgba(255, 255, 255, 1);
	color: black;
}

.slider-pagination .page1:hover,
.slider-pagination .page2:hover,
.slider-pagination .page3:hover,
.slider-pagination .page4:hover {
	background: #3046c0;
}

/* Slider slide effect */
.slide-radio1:checked~.slider {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.slide-radio2:checked~.slider {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.slide-radio3:checked~.slider {
	-webkit-transform: translateX(-200%);
	transform: translateX(-200%);
}

.slide-radio4:checked~.slider {
	-webkit-transform: translateX(-300%);
	transform: translateX(-300%);
}

.slide-radio1:checked~.slide1 h2,
.slide-radio2:checked~.slide2 h2,
.slide-radio3:checked~.slide3 h2,
.slide-radio4:checked~.slide4 h2,
.slide-radio1:checked~.slide1 .home-flex-wrapper,
.slide-radio2:checked~.slide2 .projects-flex-wrapper,
.slide-radio3:checked~.slide3 .pub-flex-wrapper,
.slide-radio4:checked~.slide4 .links-flex-wrapper {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.slider h2 {
		font-size: 20px;
	}

	.slider>div {
		padding: 0 2%;
	}

	.control label {
		font-size: 35px;
	}
}

/* Clear fixes */
.clearfix:after {
	content: ".";
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

body {
	margin: 0;
	background: #FFF url("img/body.png");
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	font: 14px/24px 'Arial', Helvetica, Arial, sans-serif;
	color: #000;
}

#wrapper {
	background: #FFF;
	width: 1200px;
	margin: 0 auto;
	border: solid 0px #E7E7E7;
	border-top: 5px solid #0088cc;
	border-radius: 6px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), inset 0 4px 0 #ededed;
}

#header {
	padding: 30px 20px;
	border-bottom: solid 1px #e0e0e0;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Arial', sans-serif;
}

#logo {
	display: inline-block;
	font-weight: 300;
	margin: 0 0 0px;
	font-size: 30px;
	line-height: 24px;
	color: #000;
	text-decoration: none;
	position: relative;
}

#logo span {
	color: #0088cc;
}

section {
	padding: 0 20px 20px;
}

h1 {
	font-size: 30px;
	line-height: 40px;
}

h2 span {
	color: #0088cc;
}

.classname {
	display: block;
	padding: 20px;
	border: solid 2px #CCC;
	text-align: center;
}

hr {
	padding: 0;
	margin: 50px 0;
	height: 1px;
	border: 0;
	background: rgba(0, 0, 0, .2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* Slide content styles */
.slide-page {
	margin: 50px 100px;
	max-height: 100%;
}

.slide-title {
	text-align: center;
	text-shadow: #000 1px 5px 10px;
	font-size: 50px !important;
	margin: 0;
}


/* Home slide */
.home-flex-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.home-flex-img {
	max-width: 100% !important;
	width: 100%;
}

.home-flex-img {
	width: 75%;
	max-width: 100%;
	height: auto;
	margin-right: 50px;
	user-select: none;
	pointer-events: none;
}

.home-flex-p {
	max-width: 100%;
	color: white;
	margin-left: 50px;
	font-size: 20px;
	text-shadow: #000 1px 5px 10px;
}

/* Projects slide */
.projects-flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.projects-flex-item {
	color: white;
	position: relative;
	width: 18%;
	height: auto;
	margin: 0 40px 20px;
}

.project-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 2;
}

.project-title h3 {
	margin: 5px 0px 5px 10px;
	text-shadow: #000 1px 5px 10px;
}

.project-title i {
	color: white;
	cursor: pointer;
	padding: 20px 10px 20px 0px;
	text-shadow: #000 1px 5px 10px;
}

.project-img {
	width: 100%;
	max-width: 100%;
	height: 100%;
}


/* Publications slide */
.pub-flex-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.pub-img-wrapper {
	width: 100%;
}

.pub-img {
	width: 80%;
	max-width: 100%;
}

.pub-txt-wrapper {
	color: white;
	text-shadow: #000 1px 5px 10px;
}

.pub-txt-wrapper h3 {
	font-size: 24px;
}

.pub-txt-wrapper p {
	font-size: 20px;
}

/* Links slide */
.links-flex-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.link-item {
	display: flex;
	margin: 25px auto;
	align-items: center;
	color: white;
	max-width: 100%;
}

.link-item a {
	width: 20%;
	margin: auto 25px;
}

.link-item img {
	width: 100%;
}

.link-item .inverted-img {
	filter: invert(1);
}

.link-item .link-txt {
	margin: auto 25px;
	text-shadow: #000 1px 5px 10px;
}

.link-item .link-txt h3 {
	font-size: 24px;
}

.link-item .link-txt p {
	font-size: 20px;
}

/****************************/
/* Responsive media queries */
/****************************/

/* General queries */
@media only screen and (max-width: 900px) {
	/* Note: the way titles are set up is sort of... trash */
	/*       this is an easy fix for the time being.       */
	.slide-title {
		display: none;
	}
}

@media only screen and (max-width: 650px) {
	.slide-page {
		margin: 50px 25px;
	}
}

@media only screen and (max-width: 600px) {
	body {
		overflow-y: auto;
	}

	.css-slider-wrapper {
		overflow-y: auto;
	}
}

/* Navbar */
@media only screen and (max-width: 600px) {
	.nav-mobile {
		display: block !important;
	}

	.res-nav {
		display: none !important;
	}
}

/* Home slide */
@media only screen and (max-width: 1000px) {
	.home-flex-img {
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.home-flex-img {
		width: 100%;
	}

	.home-flex-img-wrapper {
		width: 50%;
	}

	.home-flex-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.home-flex-p {
		font-size: 16px;
		margin-left: 0;
	}
}

/* Projects slide */
@media only screen and (max-width: 1345px) {
	.projects-flex-item {
		margin: 0 20px 20px;
	}
}

@media only screen and (max-width: 800px) {
	.projects-flex-item {
		margin: 20px 10px;
		width: 45%;
	}
}

@media only screen and (max-width: 475px) {
	.projects-flex-item {
		margin: 20px 10px;
		width: 100%;
	}
}

/* Publications slide */
@media only screen and (max-width: 665px) {
	.pub-flex-wrapper {
		flex-direction: column;
	}

	.pub-img-wrapper {
		display: flex;
		justify-content: center;
	}
}

/* Links slide */
@media only screen and (max-width: 665px) {
	.links-flex-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.link-txt {
		margin: auto;
		text-align: center;
	}

	.link-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.link-item a {
		margin: 0;
		width: 50%;
	}
}

