html{
	scroll-behavior: smooth !important;
}

body{
	font-family: Arial;
	margin:0;
	padding:none;
	background-color: black;
	text-emphasis-color: white;
	text-decoration-color: white;
	color: white;
	overflow-x: hidden;
}

.anchored{
	position:fixed;
	display:flex;
	flex-direction: row;
	top:0;
	left:0;
	width: 100%;
}

.anchored div{
	float: left;
	display:flex;
	justify-content: center;
	flex-basis: 25%;
}

.anchored a{
	text-align: center;
	text-decoration: none;
	padding: 2px;
	border-radius: 20%;
	color: #fff;
	margin: 0 1em;
}

.anchored a:hover{
	background-color: #fff;
	color:black;
}

.allContainer{
	margin-top: 30px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width:400%;
	scroll-behavior: smooth;
}

.tabContainer{
	display:flex;
	flex-direction: column;
	flex-basis:150%;
	justify-content: center;
}
.justifier{
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.projectsContainer{
	display:grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	row-gap: 10px;
	column-gap: 10px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	width: 250px;
	height: 250px;
	object-fit: cover;
}

img.invert{
	filter: invert(1);
}   

.header1{
	text-align: center;
	font-size: 150%;
}

.header2{
	text-align: center;
	font-size: 100%;
}

.tooltiptext {
	visibility: hidden;
	width: 90px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 10;
}

.tooltiptext:before { /* Create the Little triangle above it */
	content: '';
	position: absolute;
	top: -9px;
	left: calc(50% - 10px);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}

.box:hover .tooltiptext, .box:focus .tooltiptext {
	visibility: visible;
	transform: translateY(100px); /* even better positioning */
}